<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
  <test name="Test">
    <classes>
      <class name="com.automation.uiAutomation.homepage.TC001_VerifyLoginWithInvalidCredentailsToAutoMationPractices"/>
      <class name="com.automation.uiAutomation.homepage.TC002_VerifyRegistartion"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
